@mixin footer-lines
  h4
    margin: 2px 15px 2px 2px
    line-height: 22.5px
    font-size: 15px
    font-weight: 700
  li
    margin: 2px 15px 2px 0px
    font-weight: 400
    color: #b7bbc8
    list-style-type: none 
    

.l-align-center
  @include footer-lines  




.footer-logo
  font-size: 30px


.copy-right
  p
    margin: 15px 9
    color: #b7bbc8