.header-buttons
  padding: 8px
  box-sizing: border-box
  display: inline-block
  
  .button
    padding: 8px 16px
    margin-right: 8px
    border-radius: 4px
    text-align: center
    width: 100px
    height: 38.5px
    cursor: pointer
    &:hover
      opacity: 0.5


  .button-primary
    background: #47cf73
    color: black

  .button-secondary
    background: #444857
    
      

