.header-buttons
  padding: 8px
  
  .button
    margin-right: 8px
    min-width: 100px
    

  
  .button-primary
    background: #47cf73
    color: black
    border: 0

  .button-secondary
    background: #444857
    border: 0
    
      

