.hero-body
  display: flex
  flex-wrap: wrap
  .hero-body-description
    padding: 32px
    width: 50%
    // display: block
    // float: left
        

    .hero-body-description-content
      .hero-logo
        font-size: 36px
        height: 54px

      .hero-body-description-title
        font-size: 3rem
        font-weight: 900
        line-height: 67.5px
        margin: 0

      .hero-body-description-text
        margin: 16.5px 0
        font-size: 1.1rem
        font-weight: 500
        line-height: 24.75px
        text-align: left


    .hero-footer
      font-size: 1.4em
      width: 200px
      .button-primary
        border: 0
        background: #47cf73
        color: black
    